.poster-container{
  width: 50%;
  float: left;
}

.poster-container img{
  max-width: 100%;
}

.overview-container{
  width: 50%;
  float: right;
}

@media (max-width: 1024px) {
  .poster-container{
    width: 100%;
    float: none;
    text-align: center;
  }

  .overview-container{
    width: 100%;
    float: none;
  }
}