.HeaderLogin {
  width: 100%;
  height: 90px;
  background-color: #e1eef0;
}

@media (min-width: 768px) {
  .HeaderLogin {
    height: 120px
  }
}

.HeaderLogin-title {
  display: none
}

.HeaderLogin-content {
  margin: 0 auto;
  padding: 20px 10px;
  height: 100%
}

@media (min-width: 768px) {
  .HeaderLogin-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 40px;
    max-width: 1200px
  }
}

.HeaderLogin-logo {
  margin: 0 auto;
  text-align: center
}

.HeaderLogin-logo .Header-logoImage {
  height: 50px
}

@media (min-width: 768px) {
  .HeaderLogin-logo .Header-logoImage {
    width: 136px;
    height: 82px
  }
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.nav-bar li{
  margin: 3px 2px;
}